.review-cards {
  padding: 0 2em;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: auto auto auto auto;
    grid-gap: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 22vw);
    grid-template-rows: auto auto;
    grid-gap: 14px;
  }
}
