.review-cards {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    grid-template-rows: auto auto auto auto;
    grid-gap: 14px;
  }
}
@media screen and (min-width: 1000px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 360px);
    grid-template-rows: auto auto;
    grid-gap: 14px;
  }
}
