.second-section-wrapper {
  overflow: hidden;
}
.second-section-text {
  position: relative;
  z-index: 10;
  top: 230px;
}
.second-section-header {
  font-size: 1.5rem;
  text-align: center;
}
.second-section-float {
  position: relative;
  display: flex;
  justify-content: center;
  top: 20rem;
  gap: 20rem;
  z-index: 8;
}
.second-section-float img {
  height: 120px;
}
.container {
  display: flex;
  justify-content: center;
}
.image-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 1200px;
}
.white-eclipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
}
.orange-eclipse {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: var(--bg-color);
}
.image-section {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  z-index: 9;
}
.image-section img {
  width: 440px;
}
@media screen and (min-width: 600px) {
  .second-section-header {
    font-size: 1.7rem;
    text-align: center;
  }
}
@media screen and (min-width: 900px) {
  .second-section-header {
    font-size: 1.9rem;
  }
}
