:root {
  --bg-color: #ffebc3;
  --btn-primary: rgb(255, 168, 0);
  --btn-primary-hover: rgb(215, 146, 6);
  --secondary-color: #e89058;
  --fact-bg: #ffd1b3;
  --footer-bg: #feecca;
}
body {
  background-color: var(--bg-color);
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}
.App {
  position: relative;
}
.App::selection {
  background-color: #f1a306;
}
